In [32]:
import pandas as pd
from gensim.models import Word2Vec
import konlpy

In [3]:
path_out=''
path_home='D:/downloads/'

In [16]:
trainData = pd.read_csv(path_home+'ratings.txt',sep='\t')

In [17]:
trainData.head(5)

         id                                           document  label
0   8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1   8132799  디자인을 배우는 학생으로, 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산...      1
2   4655635               폴리스스토리 시리즈는 1부터 뉴까지 버릴께 하나도 없음.. 최고.      1
3   9251303  와.. 연기가 진짜 개쩔구나.. 지루할거라고 생각했는데 몰입해서 봤다.. 그래 이런...      1
4  10067386                        안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화.      1

In [18]:
trainData[trainData.document.isnull()]

             id document  label
46471   6369843      NaN      1
60735    511097      NaN      1
77665   2172111      NaN      1
84098    402110      NaN      1
127017  5942978      NaN      0
172375  5026896      NaN      0
173526  1034280      NaN      0
197279  1034283      NaN      0

In [19]:
len(trainData)

200000

In [20]:
trainData = trainData.dropna()

In [21]:
len(trainData)

199992

In [22]:
trainData['document'] = trainData['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ 가-힣]","")

<ipython-input-22-2c6673b08aab>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trainData['document'] = trainData['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ 가-힣]","")

In [23]:
trainData

              id                                           document  label
0        8112052                                어릴때보고 지금다시봐도 재밌어요ㅋㅋ      1
1        8132799  디자인을 배우는 학생으로 외국디자이너와 그들이 일군 전통을 통해 발전해가는 문화산업...      1
2        4655635                   폴리스스토리 시리즈는 부터 뉴까지 버릴께 하나도 없음 최고      1
3        9251303   와 연기가 진짜 개쩔구나 지루할거라고 생각했는데 몰입해서 봤다 그래 이런게 진짜 영화지      1
4       10067386                         안개 자욱한 밤하늘에 떠 있는 초승달 같은 영화      1
...          ...                                                ...    ...
199995   8963373                                       포켓 몬스터 짜가 ㅡㅡ      0
199996   3302770                                                쓰레기      0
199997   5458175                    완전 사이코영화 마지막은 더욱더 이 영화의질을 떨어트린다      0
199998   6908648                왜난 재미없었지 ㅠㅠ 라따뚜이 보고나서 스머프 봐서 그런가 ㅋㅋ      0
199999   8548411                                    포풍저그가나가신다영차영차영차      0

[199992 rows x 3 columns]

In [24]:
stopwords = ['의','가','이','은','들','는','좀','잘','걍','과','도','를','으로','자','에','와','한','하다']

In [ ]:
from konlpy.tag import Okt

okt = Okt()

tokenizedData=[]
for sentence in trainData['document']:
    tempX = okt.morphs(sentence,stem=True)
    tempX = [word for word in tempX if word not in stopwords]
    tokenizedData.append(tempX)

In [23]:
prep_data = pd.read_csv(path_home+'prep_ratings.csv')

In [24]:
import ast

In [25]:
prep_data = prep_data['0'].map(ast.literal_eval)

In [27]:
print(prep_data[1])

['디자인', '을', '배우다', '학생', '외국', '디자이너', '그', '일군', '전통', '을', '통해', '발전', '문화', '산업', '부럽다', '사실', '우리나라', '에서도', '그', '어렵다', '시절', '끝', '까지', '열정', '을', '지키다', '노라노', '같다', '전통', '있다', '저', '같다', '사람', '꿈', '을', '꾸다', '이루다', '나가다', '수', '있다', '것', '감사하다']

In [30]:
max_len = len(max(prep_data,key=len))
average_len = sum([*map(len,prep_data)])/len(prep_data)

print('문서 최대 길이 :' ,max_len)
print('문서 평균 길이 :' ,average_len)

문서 최대 길이 : 72
문서 평균 길이 : 10.716703668146726

In [34]:
w2v_model = Word2Vec(sentences=prep_data , size=100 , window=5 , min_count=5 , sg=0 , workers=4)

In [36]:
w2v_model.wv.similarity('유명','한석규')

0.6314561

In [37]:
w2v_model.wv.most_similar('송강호',topn=10)

[('차승원', 0.9253684282302856),
 ('김혜수', 0.9035543203353882),
 ('설경구', 0.8999963998794556),
 ('류승범', 0.8968144059181213),
 ('엄정화', 0.8916010856628418),
 ('디카프리오', 0.8841787576675415),
 ('신하균', 0.8838450312614441),
 ('한석규', 0.8829043507575989),
 ('임창정', 0.8764345645904541),
 ('안성기', 0.8690518140792847)]

In [41]:
w2v_model.wv.most_similar(positive=['액션','유해진'],negative=['코메디'],topn=10)

[('송강호', 0.7004070281982422),
 ('류승범', 0.7003924250602722),
 ('차승원', 0.6835855841636658),
 ('김혜수', 0.6812561750411987),
 ('조연', 0.6771195530891418),
 ('신하균', 0.6758812665939331),
 ('박시연', 0.6729561686515808),
 ('정우성', 0.6701136827468872),
 ('조진웅', 0.664043664932251),
 ('미스캐스팅', 0.6610864400863647)]