In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
filepath='D:/downloads/padas_data/'

In [7]:
billboard = pd.read_csv(filepath+'billboard.csv')
billboard.head(2)

,year,artist,track,time,date.entered,wk1,wk2,wk3,wk4,wk5,...,wk67,wk68,wk69,wk70,wk71,wk72,wk73,wk74,wk75,wk76
0,2000,2 Pac,Baby Don't Cry (Keep...,4:22,2000-02-26,87,82.0,72.0,77.0,87.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,2Ge+her,The Hardest Part Of ...,3:15,2000-09-02,91,87.0,92.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
billboard_melt = pd.melt(billboard,id_vars=['year','artist','track','time','date.entered'],var_name='week',value_name='rating')
billboard_melt.head(2)

   year   artist                    track  time date.entered week  rating
0  2000    2 Pac  Baby Don't Cry (Keep...  4:22   2000-02-26  wk1    87.0
1  2000  2Ge+her  The Hardest Part Of ...  3:15   2000-09-02  wk1    91.0

In [11]:
billboard_melt.shape

(24092, 7)

In [12]:
billboard_melt[billboard_melt.track=='Loser']

       year        artist  track  time date.entered  week  rating
3      2000  3 Doors Down  Loser  4:24   2000-10-21   wk1    76.0
320    2000  3 Doors Down  Loser  4:24   2000-10-21   wk2    76.0
637    2000  3 Doors Down  Loser  4:24   2000-10-21   wk3    72.0
954    2000  3 Doors Down  Loser  4:24   2000-10-21   wk4    69.0
1271   2000  3 Doors Down  Loser  4:24   2000-10-21   wk5    67.0
...     ...           ...    ...   ...          ...   ...     ...
22510  2000  3 Doors Down  Loser  4:24   2000-10-21  wk72     NaN
22827  2000  3 Doors Down  Loser  4:24   2000-10-21  wk73     NaN
23144  2000  3 Doors Down  Loser  4:24   2000-10-21  wk74     NaN
23461  2000  3 Doors Down  Loser  4:24   2000-10-21  wk75     NaN
23778  2000  3 Doors Down  Loser  4:24   2000-10-21  wk76     NaN

[76 rows x 7 columns]

In [15]:
billboard_songs = billboard_melt[['year','artist','track','time']]
billboard_songs = billboard_songs.drop_duplicates()
billboard_songs.head(2)

   year   artist                    track  time
0  2000    2 Pac  Baby Don't Cry (Keep...  4:22
1  2000  2Ge+her  The Hardest Part Of ...  3:15

In [16]:
billboard_songs['id']=range(len(billboard_songs))
billboard_songs.head(2)

   year   artist                    track  time  id
0  2000    2 Pac  Baby Don't Cry (Keep...  4:22   0
1  2000  2Ge+her  The Hardest Part Of ...  3:15   1

In [20]:
# 빌보드melt 와 빌보드songs 를 merge

billboard_ratings = billboard_melt.merge(billboard_songs,on=['year','artist','track','time'])
billboard_ratings.head(2)
billboard_ratings.shape

(24092, 8)

__데이터프레임 인덱스 조작 (설정/제거)__  
* set_index : 기존 행 인덱스를 제거하고 , 데이터 컬럼 중 어느 하나를 인덱스로 설정  
* reset_index : 기존 행 인덱스를 제거하고, 기존 인덱스를 데이터 열로 복구(없었으면 추가)  
---
__배열 연결 : 열 또는 행의 수가 동일한 배열을 연결 -> stack , vstack , hstack , dstack , ...__  
* hstack : 행의 수가 같은 두 개 이상의 배열을 연결 -> 열 증가  
* vstack : 열의 수가 같은 두 개 이상의 배열을 연결 -> 행 증가  
* stack :  사용자가 지정한 축을 기준으로 배열을 연결

In [22]:
# hstack : 행 개수 동일
a1=np.ones((2,3))
a2=np.zeros((2,2))
np.hstack([a1,a2]) # 전달되는 순서대로 stack

array([[1., 1., 1., 0., 0.],
       [1., 1., 1., 0., 0.]])

In [25]:
# vstack : 열 개수 동일
a1=np.ones((3,2))
a2=np.zeros((2,2))
np.vstack([a1,a2]) # 전달되는 순서대로 stack

array([[1., 1.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.]])

In [29]:
# dstack : (depth) 방향으로 개수 동일 (3차원 배열에서 z component)
a1=np.ones((3,4))
a2=np.zeros((3,4))
np.dstack([a1,a2]) # 전달되는 순서대로 stack

array([[[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]],

       [[1., 0.],
        [1., 0.],
        [1., 0.],
        [1., 0.]]])

In [34]:
# stack : axis 지정
print(np.stack([a1,a2],axis=0))
print('='*50)
print(np.stack([a1,a2],axis=1))
print('='*50)
print(np.stack([a1,a2],axis=2))
print('='*50)

[[[1. 1. 1. 1.]
  [1. 1. 1. 1.]
  [1. 1. 1. 1.]]

 [[0. 0. 0. 0.]
  [0. 0. 0. 0.]
  [0. 0. 0. 0.]]]
==================================================
[[[1. 1. 1. 1.]
  [0. 0. 0. 0.]]

 [[1. 1. 1. 1.]
  [0. 0. 0. 0.]]

 [[1. 1. 1. 1.]
  [0. 0. 0. 0.]]]
==================================================
[[[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]

 [[1. 0.]
  [1. 0.]
  [1. 0.]
  [1. 0.]]]
==================================================

In [36]:
np.r_[np.array([1,2,3]),np.array([4,5,6])]

np.c_[np.array([1,2,3]),np.array([4,5,6])]

array([[1, 4],
       [2, 5],
       [3, 6]])

In [37]:
# tile : 동일한 배열을 반복해서 연결
a = np.array([[0,1,2],[3,4,5]])
np.tile(a,2)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5]])

In [39]:
df4 = pd.DataFrame(np.random.randn(6,4),
                  index = [['M']*3+['F']*3,['idx1','idx2','idx3','idx4','idx5','idx6']],
                  columns = [['A']*2+['B']*2,['C','D']*2])
df4.columns.names = ['cidx1','cidx2']
df4.index.names = ['ridx1','ridx2']
df4

cidx1               A                   B
cidx2               C         D         C         D
ridx1 ridx2
M     idx1   1.621046  1.469767 -0.963282 -0.185773
      idx2   0.938920  0.531668 -1.692899 -1.182033
      idx3  -0.445432 -1.013110  1.034669  0.268120
F     idx4   1.340328  0.619061  2.316256 -0.091460
      idx5  -0.172797 -0.843544  2.085197  1.133171
      idx6   0.014281  0.532954 -0.093824  1.376638

In [40]:
df4.stack('cidx1')

cidx2                     C         D
ridx1 ridx2 cidx1
M     idx1  A      1.621046  1.469767
            B     -0.963282 -0.185773
      idx2  A      0.938920  0.531668
            B     -1.692899 -1.182033
      idx3  A     -0.445432 -1.013110
            B      1.034669  0.268120
F     idx4  A      1.340328  0.619061
            B      2.316256 -0.091460
      idx5  A     -0.172797 -0.843544
            B      2.085197  1.133171
      idx6  A      0.014281  0.532954
            B     -0.093824  1.376638

### X,Y : 공통 원소가 없는 항목 집합이라고 하자.  
ex) X{건전지} : Y{컵라면}  
표현이해) X->Y == if X then Y ('X 를 사면 Y를 사더라' 하는 연관규칙)  
* N : 전체 거래 건수  
* n(X) : 항목 집합 X의 거래 건수  
* n(Y) : 항목 집합 Y의 거래 건수  
  
***  
  
1) 지지도(Support)?  
두 항목 집합 X와 Y의 지지도? => 전체 거래 건수 중에서 항목 집합 X와 Y를 모두 포함하는 거래건수의 비율  
표기 예) s(X->Y) : 'X를 구매하면 Y를 구매한다'라는 규칙에 대한 지지도  
계산) s(X->Y) : X와 Y를 모두 포함하는 거래 건수 / 전체 거래 건수  
***  
  
1) 신뢰도(Confindence)?  
두 항목 집합 X와 Y의 신뢰도? => 항목 집합 X를 포함하는 거래 중에서 , 항목 집합 Y를 포함하고 있는 거래의 비율  
표기 예) c(X->Y) : 'X를 구매하면 Y를 구매한다'라는 규칙에 대한 신뢰도  
계산) c(X->Y) : X와 Y를 모두 포함하는 거래 건수 / X를 포함하는 거래 건수  
***  
  
1) 향상도(Lift , 가장 중요)?  
두 항목 집합 X와 Y의 향상도? => X가 주어지지 않았을때의 Y확률 대비 주어졌을때 Y의 확률 증가 비율   
표기 예) Lift(X->Y) : X,Y 사이의 향상도  
계산) Lift(X->Y) : 연관 규칙의 신뢰도 / 지지도 => c(X->Y) / s(Y)  
해석) 향상도가 1보다크거나(+관계) , 1보다 작다면(-관계) 우연적 기회(random chance)보다 우수함을 의미 , if X==Y , 향상도는 1
***
___예시 데이터___  
거래번호-------아이템  
1--------------계란,우유  
2--------------계란,기저귀,맥주,사과  
3--------------우유,기저귀,맥주,콜라  
4--------------계란,우유,맥주,기저귀  
5--------------계란,우유,맥주,콜라  
***
N = 5 (총 5건)  
n(기저귀)=3  
n({계란,우유})=3