## __보배드림 : 국산차(100) 매물 정보 크롤링 및 DF__

In [1]:
from selenium import webdriver as sw
import time
from bs4 import BeautifulSoup as bs
from tqdm import notebook
Tbook = notebook.tqdm
driver = sw.Chrome('c:/mychrome/chromedriver.exe')
N,C,H,Y,G,D,P=[],[],[],[],[],[],[]
for page_cnt in Tbook(range(1,6)):
    url = f'https://www.bobaedream.co.kr/cyber/CyberCar.php?gubun=K&page={page_cnt}&order=S11&view_size=20'
    driver.get(url)
    time.sleep(2)
    html=driver.page_source
    soap = bs(html,'html.parser')
    Car_tot = soap.select('li.product-item')
    
    for car in Car_tot:
        occupation = 'Error'
        h_power = 'Error'
        name = car.select('.tit.ellipsis > a')[0].text.strip()
        year = car.select('.mode-cell.year')[0].text.strip()
        if '(' in year: year = year.split('(')[0]
        gas = car.select('.mode-cell.fuel')[0].text.strip()
        dist = car.select('.mode-cell.km')[0].text.strip().replace('km','')
        price = car.select('.mode-cell.price')[0].text.replace('\n','').split('만원')[0]
        option = car.select('.data.clearfix > dd')
        for op in option:
            if '인승' in op.text:
                occupation = int(op.text.strip().replace('인승',''))
            if '마력' in op.text:
                h_power = int(op.text.strip().replace('마력',''))
        N.append(name)
        C.append(occupation)
        H.append(h_power)
        Y.append(year)
        G.append(gas)
        D.append(dist)
        P.append(price)

HBox(children=(FloatProgress(value=0.0, max=5.0), HTML(value='')))

In [2]:
import pandas as pd

df = pd.DataFrame()
df['차량명']=N
df['인승(명)']=C
df['마력']=H
df['연식']=Y
df['연료']=G
df['주행(km)']=D
df['가격(만원)']=P
df.head()

                           차량명 인승(명)   마력     연식   연료 주행(km) 가격(만원)
0          현대 제네시스 쿠페 380 GT R     4  303  10/04  가솔린    11만    690
1                   맥스 카니발 리무진     9  280  16/12  가솔린     5만  3,490
2  현대 그랜져IG 2.2 e-VGT 프리미엄 스페셜     5  202  17/11   디젤     3만  3,150
3  기아 더 프레스티지 K7 3.0 LPi 프레스티지     5  235  12/03  LPG    14만  1,000
4            기아 K3 1.6 GDI 럭셔리     5  140  15/08  가솔린     3만    920