In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

1. 확률 , 통계 , 수열  
    - 베이즈 이론 -> 베이지안 필터기(분류기 : 이진 분류, 다중 분류) -> 햄/스팸 분류기(r 머신러닝)  
    
    
2. 벡터와 행렬  
    - 신경망  
    
    
3. 함수와 미분(최적값 optimal : *)  
    - 미분 가능 함수, 편미분(여러 개 변수를 미분)  
    - cost(loss) function 을 미분하고 최적에 해당하는 가중치(weight) , 편향(bias) 를 구할 수 있음  
    
    
4. 예측과 최적화  
    - 회귀분석 -> 연속형 예측 , 최적화  
    
    

5. 신경망과 딥러닝  
    - 순전파(forward propagation) 방식으로 입력 신호가 전달  
    - 역전파(backward propagation) 방식으로 가중치 업데이트  
    - 단일/멀티 퍼셉트론 -> 깊은 신경망  
    
    
6. 강화학습  
    - 최적해  
    - 몬토카를로 기법  
    - 마르코프 결정 과정  
    
    
\+ 데이터베이스  
    - 데이터베이스 생성, 테이블 생성, 데이터 저장/삭제  
    - 데이터웨어하우스(data warehouse) -> 빅데이터 용어  
    - 빅데이터를 저장해놓고, 빅데이터 기반으로 분석하고 정보를 가공 (분석하기 용이하게 특화)  
    - 데이터마트  
    - 데이터웨어하우스의 일부분, 사용자에게 데이터웨어하우스에서 데이터를 꺼내서 제공하는 역할  
    - 하둡(hadoop, 빅데이터 분산 처리 프레임워크)

__json : 웹 형식 문서 표현 방법 중 하나, 가볍고 속도가 빠름, 딕셔너리 구조로 작성된 문서__

In [2]:
import json

In [8]:
obj = '''
{
"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Kim","age":25,"pets":["ba","ka"]},
            {"name":"Lee","age":22,"pets":["aa","bb","cc"]}]
}
'''
print(obj) # Json 형식에 맞춰 작성한 문자열

{
"name":"Wes",
"places_lived":["United States","Spain","Germany"],
"pet":null,
"siblings":[{"name":"Kim","age":25,"pets":["ba","ka"]},
            {"name":"Lee","age":22,"pets":["aa","bb","cc"]}]
}

In [9]:
res = json.loads(obj) # Json 문자열을 파이썬 자료구조로 변환
res

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Kim', 'age': 25, 'pets': ['ba', 'ka']},
  {'name': 'Lee', 'age': 22, 'pets': ['aa', 'bb', 'cc']}]}

In [10]:
asjson = json.dumps(res) # 파이썬 형태로 읽어진 객체를 진짜 Json 형식으로 반환
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Kim", "age": 25, "pets": ["ba", "ka"]}, {"name": "Lee", "age": 22, "pets": ["aa", "bb", "cc"]}]}'

In [11]:
res['siblings']

[{'name': 'Kim', 'age': 25, 'pets': ['ba', 'ka']},
 {'name': 'Lee', 'age': 22, 'pets': ['aa', 'bb', 'cc']}]

In [12]:
pd.Series([1,np.nan,3.5,np.nan,7])

0    1.0
1    NaN
2    3.5
3    NaN
4    7.0
dtype: float64

In [13]:
data = pd.DataFrame([[1,6,3],
                    [1,np.nan,np.nan],
                    [np.nan,np.nan,np.nan],
                    [np.nan,5,2]])
data

     0    1    2
0  1.0  6.0  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  5.0  2.0

In [18]:
print(data.dropna(axis=0))
print('='*50)
print(data.dropna(axis=1))

     0    1    2
0  1.0  6.0  3.0
==================================================
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [20]:
data.dropna(how='all') # 행 또는 열이 모두 nan으로 구성되어 있을때만

     0    1    2
0  1.0  6.0  3.0
1  1.0  NaN  NaN
3  NaN  5.0  2.0

# 아발론 데이터(전복) [링크](http://archive.ics.uci.edu/ml/datasets/Abalone)

Name / Data Type / Measurement Unit / Description  
-----------------------------  
Sex / nominal / -- / M, F, and I (infant)  
Length / continuous / mm / Longest shell measurement  
Diameter / continuous / mm / perpendicular to length  
Height / continuous / mm / with meat in shell  
Whole weight / continuous / grams / whole abalone  
Shucked weight / continuous / grams / weight of meat  
Viscera weight / continuous / grams / gut weight (after bleeding)  
Shell weight / continuous / grams / after being dried  
Rings / integer / -- / +1.5 gives the age in years

In [25]:
filepath = 'D:/downloads/'
abalone = pd.read_csv(filepath+'abalone.txt',
                   header=None,
                   names=['sex','length','diameter','height','whole weight','shcuked weight','viscera weight','shell weight','rings'])
abalone.head(1)

,sex,length,diameter,height,whole weight,shcuked weight,viscera weight,shell weight,rings
0,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15

In [26]:
abalone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4177 non-null   object
 1   length          4177 non-null   float64
 2   diameter        4177 non-null   float64
 3   height          4177 non-null   float64
 4   whole weight    4177 non-null   float64
 5   shcuked weight  4177 non-null   float64
 6   viscera weight  4177 non-null   float64
 7   shell weight    4177 non-null   float64
 8   rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [27]:
abalone.isnull().sum()

sex               0
length            0
diameter          0
height            0
whole weight      0
shcuked weight    0
viscera weight    0
shell weight      0
rings             0
dtype: int64

In [28]:
abalone.sex.value_counts()

M    1528
I    1342
F    1307
Name: sex, dtype: int64

In [29]:
grouped = abalone['whole weight'].groupby(abalone['sex'])

In [30]:
grouped.size()

sex
F    1307
I    1342
M    1528
Name: whole weight, dtype: int64

length 열을 참고하여 범주형 변수(이진) 추가

abalone['length_med'] = length_short or length_long (중앙값과 비교)

In [38]:
abalone['length_med'] = (abalone.length>abalone.length.median()).map({True:'length_long',False:'length_short'})
abalone

,sex,length,diameter,height,whole weight,shcuked weight,viscera weight,shell weight,rings,length_med
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15,length_short
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7,length_short
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9,length_short
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10,length_short
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7,length_short
...,...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11,length_long
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10,length_long
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9,length_long
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10,length_long
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12,length_long

In [39]:
abalone.length.median()

0.545

In [41]:
mean_weight = abalone.groupby(['sex','length_med'])['whole weight'].mean()
mean_weight

sex  length_med
F    length_long     1.261330
     length_short    0.589702
I    length_long     0.923215
     length_short    0.351234
M    length_long     1.255182
     length_short    0.538157
Name: whole weight, dtype: float64

In [42]:
mean_weight.unstack()

length_med  length_long  length_short
sex
F              1.261330      0.589702
I              0.923215      0.351234
M              1.255182      0.538157

In [46]:
k = abalone.groupby(['sex'])
kk = [*k]

In [59]:
k.groups

{'F': Int64Index([   2,    6,    7,    9,   10,   13,   14,   17,   22,   23,
             ...
             4139, 4140, 4141, 4143, 4159, 4160, 4161, 4168, 4172, 4175],
            dtype='int64', length=1307),
 'I': Int64Index([   4,    5,   16,   21,   42,   43,   44,   45,   48,   50,
             ...
             4151, 4152, 4153, 4154, 4155, 4158, 4163, 4164, 4165, 4166],
            dtype='int64', length=1342),
 'M': Int64Index([   0,    1,    3,    8,   11,   12,   15,   18,   19,   20,
             ...
             4156, 4157, 4162, 4167, 4169, 4170, 4171, 4173, 4174, 4176],
            dtype='int64', length=1528)}

In [61]:
for (sex,length_med),group_data in abalone.groupby(['sex','length_med'])[['whole weight','rings']]:
    print(sex,length_med)
    print(group_data[:5])

F length_long
   sex  length  diameter  height  whole weight  shcuked weight  \
9    F   0.550     0.440   0.150        0.8945          0.3145
22   F   0.565     0.440   0.155        0.9395          0.4275
23   F   0.550     0.415   0.135        0.7635          0.3180
24   F   0.615     0.480   0.165        1.1615          0.5130
25   F   0.560     0.440   0.140        0.9285          0.3825

    viscera weight  shell weight  rings   length_med
9            0.151         0.320     19  length_long
22           0.214         0.270     12  length_long
23           0.210         0.200      9  length_long
24           0.301         0.305     10  length_long
25           0.188         0.300     11  length_long
F length_short
   sex  length  diameter  height  whole weight  shcuked weight  \
2    F   0.530     0.420   0.135        0.6770          0.2565
6    F   0.530     0.415   0.150        0.7775          0.2370
7    F   0.545     0.425   0.125        0.7680          0.2940
10   F   0.525     0.380   0.140        0.6065          0.1940
13   F   0.535     0.405   0.145        0.6845          0.2725

    viscera weight  shell weight  rings    length_med
2           0.1415         0.210      9  length_short
6           0.1415         0.330     20  length_short
7           0.1495         0.260     16  length_short
10          0.1475         0.210     14  length_short
13          0.1710         0.205     10  length_short
I length_long
    sex  length  diameter  height  whole weight  shcuked weight  \
509   I   0.560     0.445   0.155        0.8735          0.3005
510   I   0.680     0.530   0.185        1.1095          0.4390
549   I   0.555     0.425   0.180        0.8750          0.3695
550   I   0.650     0.515   0.160        1.1625          0.4950
551   I   0.615     0.490   0.155        0.9885          0.4145

     viscera weight  shell weight  rings   length_med
509          0.2090         0.275     16  length_long
510          0.2450         0.340     10  length_long
549          0.2005         0.255     11  length_long
550          0.2030         0.330     17  length_long
551          0.1950         0.345     13  length_long
I length_short
   sex  length  diameter  height  whole weight  shcuked weight  \
4    I   0.330     0.255   0.080        0.2050          0.0895
5    I   0.425     0.300   0.095        0.3515          0.1410
16   I   0.355     0.280   0.085        0.2905          0.0950
21   I   0.380     0.275   0.100        0.2255          0.0800
42   I   0.240     0.175   0.045        0.0700          0.0315

    viscera weight  shell weight  rings    length_med
4           0.0395         0.055      7  length_short
5           0.0775         0.120      8  length_short
16          0.0395         0.115      7  length_short
21          0.0490         0.085     10  length_short
42          0.0235         0.020      5  length_short
M length_long
   sex  length  diameter  height  whole weight  shcuked weight  \
27   M   0.590     0.445   0.140        0.9310          0.3560
28   M   0.605     0.475   0.180        0.9365          0.3940
29   M   0.575     0.425   0.140        0.8635          0.3930
30   M   0.580     0.470   0.165        0.9975          0.3935
32   M   0.665     0.525   0.165        1.3380          0.5515

    viscera weight  shell weight  rings   length_med
27          0.2340         0.280     12  length_long
28          0.2190         0.295     15  length_long
29          0.2270         0.200     11  length_long
30          0.2420         0.330     10  length_long
32          0.3575         0.350     18  length_long
M length_short
   sex  length  diameter  height  whole weight  shcuked weight  \
0    M   0.455     0.365   0.095        0.5140          0.2245
1    M   0.350     0.265   0.090        0.2255          0.0995
3    M   0.440     0.365   0.125        0.5160          0.2155
8    M   0.475     0.370   0.125        0.5095          0.2165
11   M   0.430     0.350   0.110        0.4060          0.1675

    viscera weight  shell weight  rings    length_med
0           0.1010         0.150     15  length_short
1           0.0485         0.070      7  length_short
3           0.1140         0.155     10  length_short
8           0.1125         0.165      9  length_short
11          0.0810         0.135     10  length_short

In [62]:
df = pd.DataFrame({
    'id':[1,2,10,20,100,200],
    'name':['aa','aa2','aa3','aa4','aa5','aa6']
})
df

    id name
0    1   aa
1    2  aa2
2   10  aa3
3   20  aa4
4  100  aa5
5  200  aa6

In [69]:
df['id2'] = df.id.map(lambda x : '0'*(5-len(str(x)))+str(x))
df

    id name    id2
0    1   aa  00001
1    2  aa2  00002
2   10  aa3  00010
3   20  aa4  00020
4  100  aa5  00100
5  200  aa6  00200

### 포메팅 참고  
### [링크](https://mkaz.blog/code/python-string-format-cookbook/)