# ratings.csv와 movies.csv 두 파일을 읽어서 추천시스템 제작  
  
- 1. 아이템 기반 추천  
- 2. 사용자 기반 추천  
  
---  

# 아이템 기반 추천 실행 예)  
- 재밌게 봤던 영화 제목 입력 : Goodfellas 입력시 'Goodfellas' 영화가 코사인 유사도(평점)가 가장 높은 영화를 추천  
  
# 사용자 기반 추천  실행 예)   
- 사용자 아이디 입력 : 1  
- 사용자 아이디가 1인 사람과 유사한 사용자(들)을 검색하여 영화를 추천

In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath = 'D:/downloads/4010_6264_bundle_archive/'
movies = pd.read_csv(filepath+'movies.csv')
ratings = pd.read_csv(filepath+'ratings.csv')

In [3]:
movies.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [4]:
ratings.head(2)

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179