# 1.  다음과 같은 배열을 만들어라.  
***  
```
array([[   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [   0.,    0.,    0.,    1.,    1.],  
       [  10.,   20.,   30.,   40.,   50.],  
       [  60.,   70.,   80.,   90.,  100.],  
       [ 110.,  120.,  130.,  140.,  150.]])  
```

In [1]:
import pandas as pd
import numpy as np

In [4]:
Z = np.zeros((3,3))
Z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [5]:
O = np.ones((3,2))
O

array([[1., 1.],
       [1., 1.],
       [1., 1.]])

In [9]:
R = np.arange(10,160,10).reshape(3,-1)
R

array([[ 10,  20,  30,  40,  50],
       [ 60,  70,  80,  90, 100],
       [110, 120, 130, 140, 150]])

In [10]:
Pattern = np.vstack([np.hstack([Z,O]),R])
Pattern

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

In [12]:
Arr = np.tile(Pattern,(2,1))
Arr

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

# 2.  다중 인덱스 참조 연습  
***  
```
Cidx1	A	       B
Cidx2	C1	C2	C1	  C2
0	1.76	0.40   0.98	 2.24
1	1.87   -0.98   0.95    -0.15  
2   -0.10	0.41   0.14	 1.45
3	0.76	0.12   0.44	 0.33
4	1.49   -0.21   0.31	-0.85
```  
***  

- 위와 같은 구조의 데이터프레임을 제작하시오.
- B, C1 참조하시오.
- 0번 행,  B,C1  값을 참조하시오.
- 0번행 B, C1 값을 100으로 변경하시오

__2.1 : 위와 같은 구조의 데이터프레임을 제작하시오.__

In [19]:
ar=np.array([[1.76,0.40,0.98,2.24],
                  [1.87,-0.98,0.95,-0.15],
                  [-0.10,0.41,0.14,1.45],
                  [0.76,0.12,0.44,0.33],
                  [1.49,-0.21,0.31,-0.85]])
df = pd.DataFrame(ar,columns=[list('AABB'),['C1','C2']*2])
df.columns.names = ['Cidx1','Cidx2']
df

Cidx1     A           B
Cidx2    C1    C2    C1    C2
0      1.76  0.40  0.98  2.24
1      1.87 -0.98  0.95 -0.15
2     -0.10  0.41  0.14  1.45
3      0.76  0.12  0.44  0.33
4      1.49 -0.21  0.31 -0.85

__2.2 : B, C1 참조하시오.__

In [20]:
df['B','C1']

0    0.98
1    0.95
2    0.14
3    0.44
4    0.31
Name: (B, C1), dtype: float64

__2.3 : 0번 행,  B,C1  값을 참조하시오.__

In [26]:
df.iloc[0]['B','C1']

0.98

__2.4 : 0번행 B, C1 값을 100으로 변경하시오__

In [27]:
df.iloc[0]['B','C1']=100
df

Cidx1     A             B
Cidx2    C1    C2      C1    C2
0      1.76  0.40  100.00  2.24
1      1.87 -0.98    0.95 -0.15
2     -0.10  0.41    0.14  1.45
3      0.76  0.12    0.44  0.33
4      1.49 -0.21    0.31 -0.85

# 3. 연관규칙 연습 데이터셋  
***  
```  
dataset =
1         계란, 우유
2         계란, 기저귀, 맥주, 사과
3         우유, 기저귀, 맥주, 콜라
4         계란, 우유, 맥주, 기저귀 
5         계란, 우유, 맥주, 콜라
```  
***  

위 데이터를 저장하고, 

X={계란, 맥주}, Y={기저귀} 인 경우에 대해  
  
1) 지지도 계산

2) 신뢰도 계산

3) 향상도 계산

In [41]:
dataset =np.array([
    set(['계란','우유']),
    set(['계란','기저귀','맥주','사과']),
    set(['우유','기저귀','맥주','콜라']),
    set(['계란','우유','맥주','기저귀']),
    set(['계란','우유','맥주','콜라'])
])
dataset

array([{'우유', '계란'}, {'맥주', '사과', '기저귀', '계란'}, {'맥주', '우유', '기저귀', '콜라'},
       {'맥주', '우유', '기저귀', '계란'}, {'맥주', '우유', '콜라', '계란'}], dtype=object)

In [42]:
X = set(['계란','맥주'])
Y = set(['기저귀'])

__지지도 계산__

In [47]:
s_xy = len(dataset[((X|Y)-dataset)==set()])/len(dataset)
s_xy

0.4

__신뢰도 계산__

In [50]:
c_xy = len(dataset[((X|Y)-dataset)==set()])/len(dataset[(X-dataset)==set()])
c_xy

0.6666666666666666

__향상도 계산__

In [51]:
Lift_xy = c_xy / (len(dataset[(X-dataset)==set()])/len(dataset))
Lift_xy

1.1111111111111112