In [1]:
# 날짜 및 시간 : datatime 객체
from datetime import datetime
# 용어 혼돈: 패키지(폴더?,서브패키지=폴더안의폴더), 모듈(파이썬 파일,ipynb,py), 클래스(모듈 내에 선언, 대문자로 시작,pd.DataFrame), 
# 객체(클래스로부터 찍어낸 실체), 메서드(객체의 동작), 속성(객체의 특성)

In [2]:
datetime.now()

datetime.datetime(2020, 9, 11, 9, 25, 56, 697577)

In [3]:
t1=datetime(2020,9,11,9,28,30)
print(t1)

2020-09-11 09:28:30

In [4]:
import pandas as pd
import numpy as np

In [5]:
# 시계열 데이터
filepath='D:/downloads/padas_data/'
filename='country_timeseries.csv'
ebola=pd.read_csv(filepath+filename)
ebola.head(2)

,Date,Day,Cases_Guinea,Cases_Liberia,Cases_SierraLeone,Cases_Nigeria,Cases_Senegal,Cases_UnitedStates,Cases_Spain,Cases_Mali,Deaths_Guinea,Deaths_Liberia,Deaths_SierraLeone,Deaths_Nigeria,Deaths_Senegal,Deaths_UnitedStates,Deaths_Spain,Deaths_Mali
0,1/5/2015,289,2776.0,NaN,10030.0,NaN,NaN,NaN,NaN,NaN,1786.0,NaN,2977.0,NaN,NaN,NaN,NaN,NaN
1,1/4/2015,288,2775.0,NaN,9780.0,NaN,NaN,NaN,NaN,NaN,1781.0,NaN,2943.0,NaN,NaN,NaN,NaN,NaN

In [6]:
ebola['Date_dt']=pd.to_datetime(ebola['Date'])
ebola.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    object
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
 18  Date_dt              122 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(16), int64(1), object(1)
memory usage: 18.2+ KB

In [10]:
# 날짜 형식의 데이터를 데이터프레임 형식으로 저장
df2 = pd.DataFrame({'order_day':['01-01-20','01-02-20']})
df2.info()
df2['date_dt']=pd.to_datetime(df2['order_day'],format='%m-%d-%y')
df2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   order_day  2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes

  order_day    date_dt
0  01-01-20 2020-01-01
1  01-02-20 2020-01-02

In [12]:
now=datetime.now()
nowdate=now.strftime('%H:%M:%S')
nowdate

'10:14:46'

In [13]:
ebola2=pd.read_csv(filepath+filename,parse_dates=['Date'])
ebola2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 122 non-null    datetime64[ns]
 1   Day                  122 non-null    int64
 2   Cases_Guinea         93 non-null     float64
 3   Cases_Liberia        83 non-null     float64
 4   Cases_SierraLeone    87 non-null     float64
 5   Cases_Nigeria        38 non-null     float64
 6   Cases_Senegal        25 non-null     float64
 7   Cases_UnitedStates   18 non-null     float64
 8   Cases_Spain          16 non-null     float64
 9   Cases_Mali           12 non-null     float64
 10  Deaths_Guinea        92 non-null     float64
 11  Deaths_Liberia       81 non-null     float64
 12  Deaths_SierraLeone   87 non-null     float64
 13  Deaths_Nigeria       38 non-null     float64
 14  Deaths_Senegal       22 non-null     float64
 15  Deaths_UnitedStates  18 non-null     float64
 16  Deaths_Spain         16 non-null     float64
 17  Deaths_Mali          12 non-null     float64
dtypes: datetime64[ns](1), float64(16), int64(1)
memory usage: 17.3 KB

In [14]:
d1=ebola2['Date']
d1

0     2015-01-05
1     2015-01-04
2     2015-01-03
3     2015-01-02
4     2014-12-31
         ...
117   2014-03-27
118   2014-03-26
119   2014-03-25
120   2014-03-24
121   2014-03-22
Name: Date, Length: 122, dtype: datetime64[ns]

In [15]:
print(d1[0].year)
print(d1[0].month)
print(d1[0].day)

2015
1
5

In [16]:
d1.dt.year

0      2015
1      2015
2      2015
3      2015
4      2014
       ...
117    2014
118    2014
119    2014
120    2014
121    2014
Name: Date, Length: 122, dtype: int64

In [ ]:
import pandas_datareader as pdr
tesla = pdr.get_data_quandl('TSLA')
tesla.to_csv('tsla.csv')

In [21]:
tesla=pd.read_csv(filepath+'tesla_stock_quandl.csv',parse_dates=['Date'])
tesla.info()
tesla.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1949 non-null   datetime64[ns]
 1   Open        1949 non-null   float64
 2   High        1949 non-null   float64
 3   Low         1949 non-null   float64
 4   Close       1949 non-null   float64
 5   Volume      1949 non-null   float64
 6   ExDividend  1949 non-null   float64
 7   SplitRatio  1949 non-null   float64
 8   AdjOpen     1949 non-null   float64
 9   AdjHigh     1949 non-null   float64
 10  AdjLow      1949 non-null   float64
 11  AdjClose    1949 non-null   float64
 12  AdjVolume   1949 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 198.1 KB

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
0,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0
1,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0

In [23]:
tesla['Date'].dt.year

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
1944    2010
1945    2010
1946    2010
1947    2010
1948    2010
Name: Date, Length: 1949, dtype: int64

In [24]:
tesla['Date'][tesla['Date'].dt.year==2010]

1819   2010-12-31
1820   2010-12-30
1821   2010-12-29
1822   2010-12-28
1823   2010-12-27
          ...
1944   2010-07-06
1945   2010-07-02
1946   2010-07-01
1947   2010-06-30
1948   2010-06-29
Name: Date, Length: 130, dtype: datetime64[ns]

In [27]:
tesla.index = tesla['Date']
tesla['2010']  # 인덱스가 Datetime 객체면 계층적 인덱스처럼 접근 가능

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume
Date,,,,,,,,,,,,,
2010-12-31,2010-12-31,26.57,27.2500,26.50,26.630,1417900.0,0.0,1.0,26.57,27.2500,26.50,26.630,1417900.0
2010-12-30,2010-12-30,27.70,27.9000,26.38,26.500,2041100.0,0.0,1.0,27.70,27.9000,26.38,26.500,2041100.0
2010-12-29,2010-12-29,27.03,28.0100,26.50,27.730,3319200.0,0.0,1.0,27.03,28.0100,26.50,27.730,3319200.0
2010-12-28,2010-12-28,25.85,26.7500,25.00,26.410,4056300.0,0.0,1.0,25.85,26.7500,25.00,26.410,4056300.0
2010-12-27,2010-12-27,28.02,28.5800,25.06,25.549,9301900.0,0.0,1.0,28.02,28.5800,25.06,25.549,9301900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2010-07-06,2010-07-06,20.00,20.0000,15.83,16.110,6866900.0,0.0,1.0,20.00,20.0000,15.83,16.110,6866900.0
2010-07-02,2010-07-02,23.00,23.1000,18.71,19.200,5139800.0,0.0,1.0,23.00,23.1000,18.71,19.200,5139800.0
2010-07-01,2010-07-01,25.00,25.9200,20.27,21.960,8218800.0,0.0,1.0,25.00,25.9200,20.27,21.960,8218800.0
2010-06-30,2010-06-30,25.79,30.4192,23.30,23.830,17187100.0,0.0,1.0,25.79,30.4192,23.30,23.830,17187100.0
2010-06-29,2010-06-29,19.00,25.0000,17.54,23.890,18766300.0,0.0,1.0,19.00,25.0000,17.54,23.890,18766300.0

In [28]:
# 테슬라 데이터의 최초일로부터 경과된 날짜 저장
tesla['refDate']=tesla['Date']-tesla.index[-1]
# or tesla['refDate']=tesla['Date']-tesla['Date'].min()
tesla.head(3)

,Date,Open,High,Low,Close,Volume,ExDividend,SplitRatio,AdjOpen,AdjHigh,AdjLow,AdjClose,AdjVolume,refDate
Date,,,,,,,,,,,,,,
2018-03-27,2018-03-27,304.00,304.27,277.18,279.18,13696168.0,0.0,1.0,304.00,304.27,277.18,279.18,13696168.0,2828 days
2018-03-26,2018-03-26,307.34,307.59,291.36,304.18,8324639.0,0.0,1.0,307.34,307.59,291.36,304.18,8324639.0,2827 days
2018-03-23,2018-03-23,311.25,311.61,300.45,301.54,6600538.0,0.0,1.0,311.25,311.61,300.45,301.54,6600538.0,2824 days

In [29]:
# 거래량이 가장 많았던 날짜 출력
tesla['Date'][tesla['Volume'].argmax()]

Timestamp('2013-05-14 00:00:00')