
__1. 컬럼에 대한 설명__  

* datetime - hourly date + timestamp 

* season - 1 = spring, 2 = summer, 3 = fall, 4 = winter 

* holiday - whether the day is considered a holiday (맞으면 1 아니면 0)

* workingday - whether the day is neither a weekend nor holiday

* weather:  
          - 1: Clear, Few clouds, Partly cloudy, Partly cloudy  
          - 2: Mist + Cloudy, Mist + Broken clouds, Mist + Few clouds, Mist  
          - 3: Light Snow, Light Rain + Thunderstorm + Scattered clouds, Light Rain + Scattered clouds  
          - 4: Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog  

* temp - temperature in Celsius

* atemp - "feels like" temperature in Celsius

* humidity - relative humidity

* windspeed - wind speed

* casual - number of non-registered user rentals initiated (비회원)

* registered - number of registered user rentals initiated (회원)

* count - number of total rentals (casual+registered)

## __2. bike.csv 파일을 읽고 데이터프레임(변수명:df)으로 저장__

In [1]:
import pandas as pd
import numpy as np

In [2]:
filepath='D:/downloads/'
filename='bike.csv'  # sharing-bike 이용 데이터

In [3]:
df = pd.read_csv(filepath+filename,parse_dates=['datetime'])
df.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40

## 3. season 컬럼: season 종류 별 데이터 건수 출력

In [4]:
season_group = df.groupby(['season']).apply(lambda x:len(x))
season_group.index=['Spring','Summer','Fall','Winter'] # 1 = spring, 2 = summer, 3 = fall, 4 = winter
season_group

Spring    2686
Summer    2733
Fall      2733
Winter    2734
dtype: int64

## 4. temp 컬럼  
- 4.1 최대, 최소, 평균, 중앙값, 표준편차 출력  
- 4.2 월별 temp 평균 온도 출력  
- 4.3 temp 컬럼 값을 0-10, 10-20, 20-30 구간으로 나눈다음, 구간별 데이터 건수를 출력

In [5]:
# 4.1
print(f'최대={df.temp.max()}   , 최소={df.temp.min()}')
print(f'평균={df.temp.mean()}   , 표준편차={df.temp.std()}')
print(f'중앙값={np.median(df.temp)}')

최대=41.0   , 최소=0.82
평균=20.230859819952173   , 표준편차=7.791589843987506
중앙값=20.5

In [6]:
# 4.2
df.groupby(df.datetime.dt.month)['temp'].mean()

datetime
1      9.840000
2     11.798535
3     15.902175
4     18.718372
5     22.674079
6     27.064496
7     30.841711
8     29.736689
9     25.779032
10    20.933853
11    15.185752
12    13.831206
Name: temp, dtype: float64

In [7]:
# 4.3
df.temp.value_counts(bins=[0,10,20,30])

(20.0, 30.0]      4334
(10.0, 20.0]      4049
(-0.001, 10.0]    1259
Name: temp, dtype: int64

## 5. windspeed 컬럼  
- 5.1 0으로 되어 있는 값의 개수를 세어 출력  
- 5.2 월별 windspeed 평균 풍속 출력(0 제외)

In [8]:
# 5.1
print(f'풍속이 0으로 되어 있는 행의 수 : ',end=' ')
print(len(df.windspeed[df.windspeed==0]))

풍속이 0으로 되어 있는 행의 수 :  1313

In [9]:
# 5.2 : 0 값을 nan 처리 후 평균 계산
df.windspeed = np.where(df.windspeed==0,np.nan,df.windspeed)
df.groupby(df.datetime.dt.month)['windspeed'].mean()

datetime
1     15.934902
2     16.068072
3     16.657385
4     16.921398
5     13.980160
6     13.634654
7     12.594203
8     13.584564
9     13.421314
10    13.672864
11    14.781608
12    13.077087
Name: windspeed, dtype: float64

## 6. weather 컬럼: weather 종류 별 데이터 건수 출력

In [10]:
weather_group = df.groupby(['weather']).apply(lambda x:len(x))
weather_group.index = ['Clear','Cloudy','Light Snow/Rain','Heavy Snow/Rain']
weather_group

Clear              7192
Cloudy             2834
Light Snow/Rain     859
Heavy Snow/Rain       1
dtype: int64

## 7. humidity 컬럼  
- 7.1 2011년 평균 습도 출력  
- 7.2 2012년 평균 습도 출력  
- 7.3 연도와 관계없이 월별 평균 습도 출력  
- 7.4 연도별 표준편차 출력

In [11]:
# 7.1
print(f"2011년 평균 습도 : {df.humidity[df.datetime.dt.year==2011].mean()}")

2011년 평균 습도 : 63.40501659904094

In [12]:
# 7.2
print(f"2012년 평균 습도 : {df.humidity[df.datetime.dt.year==2012].mean()}")

2012년 평균 습도 : 60.37957540263543

In [13]:
# 7.3
df.groupby(df.datetime.dt.month)['humidity'].mean()

datetime
1     55.911765
2     56.296337
3     56.678135
4     55.697470
5     68.084430
6     58.759868
7     58.402412
8     63.010965
9     70.980198
10    69.412733
11    60.722283
12    68.383772
Name: humidity, dtype: float64

In [14]:
# 7.4
df.groupby(df.datetime.dt.year)['humidity'].std()

datetime
2011    19.780518
2012    18.578008
Name: humidity, dtype: float64

## 8. datetime 컬럼  
- 8.1 월별(01~12) 평균 count 출력  
- 8.2 일별(01~19) 평균 count 출력  
- 8.3 시각별(0~23) 평균 count 출력  
- 8.4 평균 count값이 가장 큰 월 출력  
- 8.5 평균 count값이 가장 큰 시각 출력

In [15]:
# 8.1
df.groupby(df.datetime.dt.month)['count'].mean()

datetime
1      90.366516
2     110.003330
3     148.169811
4     184.160616
5     219.459430
6     242.031798
7     235.325658
8     234.118421
9     233.805281
10    227.699232
11    193.677278
12    175.614035
Name: count, dtype: float64

In [16]:
# 8.2
df.groupby(df.datetime.dt.day)['count'].mean()

datetime
1     180.333913
2     183.910995
3     194.696335
4     195.705575
5     189.765217
6     189.860140
7     183.773519
8     179.041812
9     187.897391
10    195.183566
11    195.679577
12    190.675393
13    194.160279
14    195.829268
15    201.527875
16    191.353659
17    205.660870
18    192.605684
19    192.311847
Name: count, dtype: float64

In [17]:
# 8.3
df.groupby(df.datetime.dt.hour)['count'].mean()

datetime
0      55.138462
1      33.859031
2      22.899554
3      11.757506
4       6.407240
5      19.767699
6      76.259341
7     213.116484
8     362.769231
9     221.780220
10    175.092308
11    210.674725
12    256.508772
13    257.787281
14    243.442982
15    254.298246
16    316.372807
17    468.765351
18    430.859649
19    315.278509
20    228.517544
21    173.370614
22    133.576754
23     89.508772
Name: count, dtype: float64

In [18]:
# 8.4 
print(f'평균 count 값이 가장 큰 월 : ',end=' ')
print(df.groupby(df.datetime.dt.month)['count'].mean().idxmax(),'월')
print('=> 날씨가 좋은 시즌이니 자전거를 많이 타나봄')

평균 count 값이 가장 큰 월 :  6 월
=> 날씨가 좋은 시즌이니 자전거를 많이 타나봄

In [19]:
# 8.5 
print(f'평균 count 값이 가장 시각 : ',end=' ')
print(df.groupby(df.datetime.dt.hour)['count'].mean().idxmax(),'시')
print('=> 퇴근길 혹은 퇴근 후 찾는 사람이 많음')

평균 count 값이 가장 시각 :  17 시
=> 퇴근길 혹은 퇴근 후 찾는 사람이 많음

## 9. 상관분석  
- 9.1 temp와 count 간 상관 계수 출력  
- 9.2 humidity와 count 간 상관 계수 출력  
- 9.3 weather와 count 간 상관 계수 출력  
- 9.4 windspeed와 count 간 상관 계수 출력  
- 9.5 위 4개의 features 중에서 상관 계수가 가장 큰 feature 출력

In [20]:
from sklearn.preprocessing import StandardScaler as SS

In [21]:
# 표준화된 count 열 -> count_stand 추가
df['count_stand'] = SS().fit_transform(np.array(df['count']).reshape(-1,1))
df.head(1)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,count_stand
0,2011-01-01,1,0,0,1,9.84,14.395,81,NaN,3,13,16,-0.969294

In [22]:
Corr_df = pd.DataFrame({'raw_corr':[]}) # 각 feature 별 상관계수 저장

In [23]:
# 9.1
df['temp_stand'] = SS().fit_transform(np.array(df.temp).reshape(-1,1))
Corr_df.loc['temp']=df['temp_stand'].corr(df['count_stand'],method='pearson')
print(f'temp 데이터와 count 데이터간 상관 계수 : ', end=' ')
print(Corr_df.loc['temp','raw_corr'])

temp 데이터와 count 데이터간 상관 계수 :  0.39445364496724905

In [24]:
# 9.2
df['humidity_stand'] = SS().fit_transform(np.array(df['humidity']).reshape(-1,1))
Corr_df.loc['humidity']=df['humidity_stand'].corr(df['count_stand'],method='pearson')
print(f'humidity 데이터와 count 데이터간 상관 계수 : ', end=' ')
print(Corr_df.loc['humidity','raw_corr'])

humidity 데이터와 count 데이터간 상관 계수 :  -0.3173714788765944

In [25]:
# 9.3
df['weather_stand'] = SS().fit_transform(np.array(df['weather']).reshape(-1,1))
Corr_df.loc['weather']=df['weather_stand'].corr(df['count_stand'],method='pearson')
print(f'weather 데이터와 count 데이터간 상관 계수 : ', end=' ')
print(Corr_df.loc['weather','raw_corr'])

weather 데이터와 count 데이터간 상관 계수 :  -0.12865520103850633

In [26]:
# 9.4
df['windspeed_stand'] = SS().fit_transform(np.array(df['windspeed']).reshape(-1,1))
Corr_df.loc['windspeed']=df['windspeed_stand'].corr(df['count_stand'],method='pearson')
print(f'windspeed 데이터와 count 데이터간 상관 계수 : ', end=' ')
print(Corr_df.loc['windspeed','raw_corr'])

windspeed 데이터와 count 데이터간 상관 계수 :  0.08501409916575474

In [27]:
# 9.5 
Corr_df['abs_corr']=Corr_df['raw_corr'].apply(abs)
print('count 데이터과 가장 큰 상관계수 관계인 feature : ',end=' ')
print(Corr_df.sort_values(by='abs_corr',ascending=False).index[0])

count 데이터과 가장 큰 상관계수 관계인 feature :  temp