- 데이터베이스 : 데이터 집합체 (중복->일관성 유지 어려움->데이터베이스 체계적으로 관리의 필요==>DBMS)  
DBMS(소프트웨어) : 오라클(미) , MSSQL(러) , MYSQL(한) , SQLITE(일) , MARIADB(중) , ===> 공용어 (SQL)  

 
- 파이썬에서 기본적으로 제공되는 DBMS : SQLITE3  


- DB 연결/해제 : 커서  --> 데이터 삽입/조회/수정/삭제

데이터베이스(파일) 생성(연결)-> 테이블 구조 설계 (컬럼 타입 정의 , CREATE TABLE 명령) -> 데이터 저장

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("emp.db") # 연결하고자 하는 DB가 존재하지 않으면 자동 생성 후 연결

In [3]:
cur = conn.cursor()

In [8]:
# 테이블 생성
sql = '''
create table emp_data(
id integer not null,
name text,
nickname text,
dapartment text,
employment_data text
)
'''
cur.execute('drop table if exists emp_data')
cur.execute(sql)

In [10]:
# 데이터 추가
cur.executemany(
'insert into emp_data values (?,?,?,?,?)',
    [
        (1,'gildong','gd','marketing','2020-10-06 10:36:00.000'),
        (2,'sunshin','ss','marketing','2019-10-06 10:36:00.000'),
        (3,'yusin','ys','development','2020-01-06 10:36:00.000'),
        (4,'sejong','js','marketing','2020-05-06 10:36:00.000'),
        (5,'bogo','bg','development','2020-07-06 10:36:00.000')
    ])

In [11]:
cur.execute('select * from emp_data')
for row in cur:
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'js', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [12]:
conn.commit()
conn.close()

In [14]:
conn = sqlite3.connect('emp.db')
cur = conn.cursor()
cur.execute('select * from emp_data')
row = cur.fetchall()
columns = [col[0] for col in cur.description]

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.DataFrame.from_records(row,columns=columns)
df

   id     name nickname   dapartment          employment_data
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       js    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

In [17]:
conn.close()
conn = sqlite3.connect('dbtest.db')
cur = conn.cursor()
cur.execute('create table test (name text , jumsu int)')

In [18]:
cur.execute("insert into test values ('sunshin',100)")

In [23]:
cur.execute('select * from test')
row = cur.fetchall()
row

[('sunshin', 90), ('sunshin', 90)]

In [20]:
cur.execute('insert into test values (?,?)',('sunshin',100))

In [22]:
cur.execute("update test set jumsu=90 where name='sunshin'")

In [24]:
conn.commit()
conn.close()

데이터프레임을 DB의 테이블로 저장 : df.to_sql('mytable',conn)

[R 다운](https://cran.r-project.org/)  
[RStudio 다운](https://rstudio.com/products/rstudio/download/#download)