# [파이썬과 웹크롤링]

## 1. 다음은 인스타그램 접속과 관련된 코드의 일부이다.  
## 밑줄친 부분에 시간을 2초간 지연하는 코드를 작성하시오.  
`driver.get('https://www.instargram.com')
__________________________________________`

In [ ]:
import time
time.sleep(2)

## 다음과 같은 데이터 프레임을 생성하시오.

In [4]:
import pandas as pd
dct = {'city':['Seoul','Daegu','Busan','Gwangju'],
      'year':[2000,2001,2003,2002],
      'pop':[9,2,3,0.1]}
df = pd.DataFrame(dct)
df

      city  year  pop
0    Seoul  2000  9.0
1    Daegu  2001  2.0
2    Busan  2003  3.0
3  Gwangju  2002  0.1

# [웹 데이터 전처리 및 정제/표준화]

##  1. 다음과 같은 배열을 생성하시오.

In [7]:
import numpy as np

arr = np.zeros((10,10))
arr[1:9,1:9]=1
arr

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

## 2. 데이터 정규화 / 표준화에 대해 비교 설명하시오.

* 정규화 : 데이터의 각 항목에 대하여 x => x-x_min / x_max - x_max
* 표준화 : 데이터의 각 항목에 대하여 x => x-x_mean / x_standard_deviation

# [정형 데이터처리 RDB]

## 다음 실행 예시처럼 교환할 돈을 입력받아서,   
## 최소한의 동전의 개수로 교환해 주는 파이썬 코드를 작성하시오.  
`바꿀 돈 -->7777`  
  
  
`500원: 15 , 100원: 2 , 50원: 1 , 10원 2 , 나머지: 7`

In [2]:
change = int(input('바꿀 돈 -->'))

cnt_500=change//500
change%=500
cnt_100=change//100
change%=100
cnt_50=change//50
change%=50
cnt_10=change//10
change%=10
print(f'500원: {cnt_500}',end=' , ')
print(f'100원: {cnt_100}',end=' , ')
print(f'50원: {cnt_50}',end=' , ')
print(f'10원: {cnt_10}',end=' , ')
print(f'나머지: {change}')

바꿀 돈 -->7777
500원: 15 , 100원: 2 , 50원: 1 , 10원: 2 , 나머지: 7