__상관계수 : ex) 아빠&자식 키 관계__

인덱스 기준: sort_index  
데이터 기준: sort_values

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
obj = pd.Series(range(4),index=['j','i','k','p'])

In [5]:
obj.sort_index()

i    1
j    0
k    2
p    3
dtype: int64

In [7]:
obj.sort_values(ascending=False)

p    3
k    2
i    1
j    0
dtype: int64

In [11]:
df=pd.DataFrame(np.arange(8).reshape((2,4)),
            index=['three','one'],
            columns=['k','j','i','p'])
df.sort_index()

       k  j  i  p
one    4  5  6  7
three  0  1  2  3